<div class="text-light bg-dark p-2">
  <h2 class="text-center p-3">User Management Angular App!</h2>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="../assets/images/users.png" />
    </div>
    <div class="col-md-6">
      <!-- <app-home></app-home> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="text-center p-4 bg-dark text-light">
  <p class="m-0">This site is copyright &copy; to LTI.</p>
  <p class="m-0">Made with <span class="emoji">&#10084;</span> by Laksh.</p>
</footer>