<div class="col-md-6 col-md-offset-2">
    <h3>Angular</h3>
    <h5>In this demo, we will learn about <span class="text-success fw-bold">Angular Architecture.</span></h5>
    <ul class="text-success fw-bold">
        <li>Modules</li>
        <li>Components
            <ol>
                <li>Root Component or App Component</li>
            </ol>
        </li>
        <li>Services and Dependency Injection</li>
        <li>Models</li>
        <li>Directives</li>
        <li>Pipes, etc</li>
    </ul>
    <a class="btn btn-outline-success" [routerLink]="['/login']">Login</a>
</div>